---

---

<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script type="text/javascript">
			const today = new Date();
            window.location.href = `/day/${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`
		</script>
		<title>Magic Moon</title>
		<meta name="description" content="Magic Moon is a simple, beautiful, and free moon phase calendar.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Magic Moon">
		<meta property="og:description" content="Magic Moon is a simple, beautiful, and free moon phase calendar.">
	</head>
	<body>
		<slot />
	</body>
</html>
